
## This file is dynamic generated, during the execution.
## DONT CHANGE IT

- name: Creating the security group
  ec2_group:
    region: "{{ aws_region }}"
    purge_rules_egress: yes
    purge_rules: yes
    name: "{{ sg_name }}"
    description: "{{ sg_desc }}"
    vpc_id: "{{ vpc_id }}"
    state: present
    rules:
{% for sg_cidr_var in sg_roles_cidr_ip %}
    - proto: "{{ sg_cidr_var.proto }}"
      from_port: "{{ sg_cidr_var.port }}"
      to_port: "{{ sg_cidr_var.port }}"
      cidr_ip: "{{ sg_cidr_var.cidr_ip }}"
{% endfor %}
{% for sg_gname_var in sg_roles_group_name %}
    - proto: "{{ sg_gname_var.proto }}"
      from_port: "{{ sg_gname_var.port }}"
      to_port: "{{ sg_gname_var.port }}"
      group_name: "{{ sg_name }}"
{% endfor %}
    rules_egress:
{% for sg_cidr_var in sg_roles_cidr_ip %}
    - proto: "{{ sg_cidr_var.proto }}"
      from_port: "{{ sg_cidr_var.port }}"
      to_port: "{{ sg_cidr_var.port }}"
      cidr_ip: "{{ sg_cidr_var.cidr_ip }}"
{% endfor %}
{% for sg_gname_var in sg_roles_group_name %}
    - proto: "{{ sg_gname_var.proto }}"
      from_port: "{{ sg_gname_var.port }}"
      to_port: "{{ sg_gname_var.port }}"
      group_name: "{{ sg_name }}"
{% endfor %}
  register: sg_return
